<button mat-stroked-button (click)="openDialog()">Start New Conversation</button>

<div *ngFor="let Conversation of conversations">
  <mat-card (click)="goToConversation(Conversation)" class="ad-card">
    <mat-card-header>
     
    </mat-card-header>
    
    <mat-card-content>
      <p>
        {{ Conversation.ConversationTitle }}
      </p>
      <p>
        By {{Conversation.username}}
      </p>
      <span *ngIf="Conversation.createdOn">
        <span style="color: #cccccc; float: right;">{{Conversation.createdOn | date: "dd-MMM-yy, HH:mm:ss"}}</span>
        </span>
    </mat-card-content>
  </mat-card>
</div>